.autocomplete-richlistbox {
        background: rgb(27, 27, 27) !important;
        color: #AAAAAA !important;
}

.autocomplete-textbox-container.urlbar-textbox-container
{color:#AAAAAA!important;}

* {
	font-family: inherit !important;
}

html {
	font-family: 'Ubuntu' !important;
}

.autocomplete-richlistbox {
        color: #BBBBBB !important;
}

.ac-title {
  color: #CCCCCC !important;
}

#urlbar[level] .autocomplete-textbox-container >* {
color: #AAAAAA !important;
}

.tabbrowser-tab[selected="true"] {
font-weight: bold !important;
color: rgba(255,255,255,1) !important;
background-image: linear-gradient(rgb(27, 27, 27), rgb(27, 27, 27) 50%),
linear-gradient(-moz-dialog, -moz-dialog) !important;
}

.tabbrowser-tab {
font-weight: bold !important;
background-image: linear-gradient(rgb(27,27,27), rgb(27,27,27) 50%),
linear-gradient(-moz-dialog, -moz-dialog) !important;
}
